<div class="coming-recommend">
    <h2 class="coming__head">
        <span class="coming-recommend__title">自如友家</span>
        <a href="http://m.ziroom.com/BJ/search?show=%E5%90%88%E7%A7%9F&list=1&type=1" class="coming-recommend__title-right"><span>查看更多>></span></a>
    </h2>
    <div class="coming-recommend__content swiper-container">
        <ul id="list-yj" class="house swiper-wrapper">
            {{#each a}}
            <li class="swiper-slide">
                <div class="box">
                    <div class="img"><a href="#"><img onerror="this.src='//static8.ziroom.com/phoenix/msite/2016/img/upload_big.jpg'"
                                src="{{img}}" alt=""></a></div>
                    <div class="txt"><a href="#">
                            <h2 class="ellipsis ui-black">
                                <!----> <span class="price">{{price}}</span> <span class="name">{{name}}</span>
                                <!---->
                            </h2>
                            <p class="ellipsis ui-gray desc">{{desc}}</p>
                        </a></div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<div class="coming-recommend">
    <h2 class="coming__head">
        <p class="coming-recommend__title">自如整租</p>
        <a href="http://m.ziroom.com/BJ/search?show=%E6%95%B4%E7%A7%9F&list=2&type=10" class="coming-recommend__title-right"><span>查看更多>></span></a>
    </h2>
    <div class="coming-recommend__content swiper-container">
        <ul id="list-yj" class="house swiper-wrapper">
            {{#each b}}
            <li class="swiper-slide">
                <div class="box">
                    <div class="img"><a href="#"><img onerror="this.src='//static8.ziroom.com/phoenix/msite/2016/img/upload_big.jpg'"
                                src="{{img}}" alt=""></a></div>
                    <div class="txt"><a href="#">
                            <h2 class="ellipsis ui-black">
                                <!----> <span class="price">{{price}}</span> <span class="name">{{name}}</span>
                                <!---->
                            </h2>
                            <p class="ellipsis ui-gray desc">{{desc}}</p>
                        </a></div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

<div class="coming-recommend">
    <h2 class="coming__head">
        <span class="coming-recommend__title">自如寓</span>
        <a href="http://mstatic.ziroomapartment.com/" class="coming-recommend__title-right"><span>查看更多>></span></a>
    </h2>
    <div class="coming-recommend__content swiper-container">
        <ul id="list-yj" class="house swiper-wrapper">
            {{#each c}}
            <li class="swiper-slide">
                <div class="box">
                    <div class="img"><a href="#"><img onerror="this.src='//static8.ziroom.com/phoenix/msite/2016/img/upload_big.jpg'"
                                src="{{img}}" alt=""></a></div>
                    <div class="txt"><a href="#">
                            <h2 class="ellipsis ui-black">
                                <!----> <span class="price">{{price}}</span> <span class="name">{{name}}</span>
                                <!---->
                            </h2>
                            <p class="ellipsis ui-gray desc">{{desc}}</p>
                        </a></div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>


<div class="coming-recommend">
    <h2 class="coming__head">
        <span class="coming-recommend__title">自如民宿</span>
        <a href="http://www.ziroomstay.com/" class="coming-recommend__title-right"><span>查看更多>></span></a>
    </h2>
    <div class="coming-recommend__content swiper-container">
        <ul id="list-yj" class="house swiper-wrapper">
            {{#each d}}
            <li class="swiper-slide">
                <div class="box">
                    <div class="img"><a href="#"><img onerror="this.src='//static8.ziroom.com/phoenix/msite/2016/img/upload_big.jpg'"
                                src="{{img}}" alt=""></a></div>
                    <div class="txt"><a href="#">
                            <h2 class="ellipsis ui-black">
                                <!----> <span class="price">{{price}}</span> <span class="name">{{name}}</span>
                                <!---->
                            </h2>
                            <p class="ellipsis ui-gray desc">{{desc}}</p>
                        </a></div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

<div class="coming-recommend">
    <h2 class="coming__head">
        <span class="coming-recommend__title">自如驿</span>
        <a href="https://a.app.qq.com/o/simple.jsp?pkgname=com.ziroom.ziroomcustomer" class="coming-recommend__title-right"><span>查看更多>></span></a>
    </h2>
    <div class="coming-recommend__content swiper-container">
        <ul id="list-yj" class="house swiper-wrapper">
            {{#each e}}
            <li class="swiper-slide">
                <div class="box">
                    <div class="img"><a href="#"><img onerror="this.src='//static8.ziroom.com/phoenix/msite/2016/img/upload_big.jpg'"
                                src="{{img}}" alt=""></a></div>
                    <div class="txt"><a href="#">
                            <h2 class="ellipsis ui-black">
                                <!----> <span class="price">{{price}}</span> <span class="name">{{name}}</span>
                                <!---->
                            </h2>
                            <p class="ellipsis ui-gray desc">{{desc}}</p>
                        </a></div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>


<div class="coming-recommend">
    <h2 class="coming__head">
        <span class="coming-recommend__title">自如服务</span>
        <a href="//s.m.ziroom.com" class="coming-recommend__title-right"><span>查看更多>></span></a>
    </h2>

    <div class="coming-recommend__content swiper-container">
        <ul id="list-yj" class="house swiper-wrapper">
            {{#each f}}
            <li class="swiper-slide">
                <div class="box">
                    <div class="img"><a href="#"><img onerror="this.src='//static8.ziroom.com/phoenix/msite/2016/img/upload_big.jpg'"
                                src="{{img}}" alt=""></a></div>
                    <div class="txt"><a href="#">
                            <h2 class="ellipsis ui-black">
                                <!----> <span class="price">{{price}}</span> <span class="name">{{name}}</span>
                                <!---->
                            </h2>
                            <p class="ellipsis ui-gray desc">{{desc}}</p>
                        </a></div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>