<!-- swiper start -->

<div class="swiper-container coming-swiper">
    <div class="swiper-wrapper">
        {{#each list}}
        <div class="swiper-slide">
            <!-- <img src="{{imgUrl}}" alt=""> -->
            <img src="{{imgUrl}}" alt="">
        </div>
        {{/each}}
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>

<!-- swiper end -->



<!-- banner-wrapper start -->

<div id="banner-wrapper">
    <a href="http://static8.ziroom.com/openApp/?p=cHJvZHVjdD1yZW50JmZ1bmN0aW9uPXRvUmVudEhvbWVQYWdlJmFuZHJvaWQ9Jmlvcz0%3D" onclick="toIndex()" class="downText">
        <span class="zrLogoSmall"></span>
        下载自如APP，立即签约空气质检品质好房
    </a
</div> 

<!-- banner-wrapper end -->